@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    background: #474a51;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.touch__typing {
    display: flex;
    flex-direction: column;
    padding: 6em 0 0 0;
    text-align: center;
}

span {
    color: white;
    font-size: 3.5em;
}

label {
    margin-top: 10px;
    margin-left: 2.5em;
    margin-right: 2.5em;
}

input {
    font-size: 3em;
    background: white;
    /* ÷вет и толщина границы */
    border: 3px solid #206676;
    border-radius: 7px;
    color: #206676;
    caret-color: #206676;
    /* Ўрифт внутри пол€ ввода */
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    width: 830px;
}

.keyboardContainer {
    text-align: center;
}

.keyboard {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px auto auto auto;
    border: 1px solid slategray;
    padding: 5px;
    border-radius: 4px;
    position: relative;
    width: 830px;
}

.keyboardContainer h1 {
    color: white;
}

.line:after {
    content: "";
    display: block;
    clear: both;
}

.key {
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid slategray;
    border-radius: 4px;
    margin: 3px;
    padding: 4px;
    text-align: center;
    line-height: 32px;
}

.backspace {
    width: 86px;
}

.tab {
    width: 60px;
}

.slash {
    width: 66px;
}

.capslock {
    width: 80px;
}

.enter {
    width: 102px;
}

.leftShift {
    width: 100px;
}

.rightShift {
    width: 138px;
}

.leftControl {
    width: 70px;
}

.cmd {
    width: 45px;
}

.space {
    width: 310px;
}

.leftAlt {
    width: 45px;
}

.rightAlt {
    width: 45px;
}

.menu {
    width: 50px;
}

.rightControl {
    width: 92px;
}

.line .key {
    transition: all .2s;
}

.active {
    background-color: white;
}
