<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlindTyping</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlindTyping.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BlindTyping</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <body>
        <div class="touch__typing">
            <span>Touch Typing</span>
            <label>
                <input class="main__input" type="text" placeholder="">
            </label>
        </div>
        <div class="keyboard">
            <div class="line">
                <div class="key k192">`</div>
                <div class="key k49">1</div>
                <div class="key k50">2</div>
                <div class="key k51">3</div>
                <div class="key k52">4</div>
                <div class="key k53">5</div>
                <div class="key k54">6</div>
                <div class="key k55">7</div>
                <div class="key k56">8</div>
                <div class="key k57">9</div>
                <div class="key k48">0</div>
                <div class="key k189">-</div>
                <div class="key k187">=</div>
                <div class="key backspace k8">Backspace</div>
            </div>
            <div class="line">
                <div class="key tab k9">Tab</div>
                <div class="key k81">q</div>
                <div class="key k87">w</div>
                <div class="key k69">e</div>
                <div class="key k82">r</div>
                <div class="key k84">t</div>
                <div class="key k89">y</div>
                <div class="key k85">u</div>
                <div class="key k73">i</div>
                <div class="key k79">o</div>
                <div class="key k80">p</div>
                <div class="key k219">[</div>
                <div class="key k221">]</div>
                <div class="key slash k220">\</div>
            </div>
            <div class="line">
                <div class="key capslock k20">Caps</div>
                <div class="key k65">a</div>
                <div class="key k83">s</div>
                <div class="key k68">d</div>
                <div class="key k70">f</div>
                <div class="key k71">g</div>
                <div class="key k72">h</div>
                <div class="key k74">j</div>
                <div class="key k75">k</div>
                <div class="key k76">l</div>
                <div class="key k186">;</div>
                <div class="key k222">'</div>
                <div class="key enter k13">Enter</div>
            </div>
            <div class="line">
                <div class="key leftShift k16">Shift</div>
                <div class="key k90">z</div>
                <div class="key k88">x</div>
                <div class="key k67">c</div>
                <div class="key k86">v</div>
                <div class="key k66">b</div>
                <div class="key k78">n</div>
                <div class="key k77">m</div>
                <div class="key k188">,</div>
                <div class="key k190">.</div>
                <div class="key k191">/</div>
                <div class="key rightShift k16">Shift</div>
            </div>
            <div class="line">
                <div class="key leftControl k17">Ctrl</div>
                <div class="key cmd k91">Cmd</div>
                <div class="key leftAlt k18">Alt</div>
                <div class="key space k32">Space</div>
                <div class="key rightAlt k18">Alt</div>
                <div class="key cmd k91">Cmd</div>
                <div class="key menu k93">Menu</div>
                <div class="key rightControl k17">Ctrl</div>
            </div>
        </div>
        

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - BlindTyping - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/script.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
